/* work sans from google */
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather+Sans&family=Open+Sans:ital,wght@0,800;1,700&family=Work+Sans&display=swap');
/*shared styles */
  * {
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;

}
/* header styles */
header{
   background-color: rgba(255, 144, 14, 0.1);
   padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.banner-description{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* responsive media queries */
/*mobile device */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
/* tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}
/*main styles*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
/*teams style*/
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}
.teams-title .text-features{
    color: rgba(255, 144, 14, 1);
    font-weight: 700;
}
